/* Tiny Scrollbar */
.note_cont_items {
    width: 278px;
    margin-left: 9px;
}

.note_cont_items .viewport {
   /* width: 250px;*/
    height: 365px;
    overflow: hidden;
    position: relative;
}

.note_cont_items .overview {
    list-style: none;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    margin: 0;
    border-left: 1px #D3C8BA solid;
}
.note_cont_items .scrollbar {
    background: #d3c7b7;
    position: relative;
    background-position: 0 0;
    float: right;
    width: 10px;
}

.note_cont_items .track {
    background: #e8e2db;
    height: 100%;
    width: 9px;
    position: relative;
    padding: 0 1px;
}

.note_cont_items .thumb {
    background: #d3c7b7;
    height: 20px;
  /*  border: 1px solid #b9ab99;*/
    width: 9px;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    top: 0;
   /* left: -5px;*/
}

.note_cont_items .thumb .end {
    background: #d3c7b7;
    overflow: hidden;
    height: 5px;
    width: 25px;
}

.note_cont_items .disable {
    display: none;
}

.noSelect {
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

/*-----------------添加-------------------*/
/* Tiny Scrollbar */
.note_cont_itemsa{
    width: 278px;
    margin-left: 9px;
    background: #2d3236;
}

.note_cont_itemsa .viewport{
    /* width: 250px;*/
    height: 480px;
    overflow: hidden;
    position: relative;
}

.note_cont_itemsa .overview{
    list-style: none;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    margin: 0;
}
.note_cont_itemsa .scrollbar{
    background: #d3c7b7;
    position: relative;
    background-position: 0 0;
    float: right;
    width: 10px;
}

.note_cont_itemsa .track{
    background: #e8e2db;
    height: 100%;
    width: 9px;
    position: relative;
    padding: 0 1px;
}

.note_cont_itemsa .thumb{
    background: #d3c7b7;
    height: 20px;
    /*  border: 1px solid #b9ab99;*/
    width: 9px;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    top: 0;
    /* left: -5px;*/
}

.note_cont_itemsa .thumb .end{
    background: #d3c7b7;
    overflow: hidden;
    height: 5px;
    width: 25px;
}

.note_cont_itemsa .disable{
    display: none;
}

