body {
    background: url("../images/furley_bg.png");
}

.content-box {
    padding: 0 20px;
}

.content-box-header {
    border-bottom: #DDDDDD 1px solid;
    margin-top: 20px;
}

.content-box-tabs {
    display: block;
    overflow: hidden;
    margin: 0;
}

.content-box-tabs li {
    list-style: none;
    float: left;
    margin-right: 20px;
    height: 30px;
    line-height: 30px;
    background: #FFFFFF;
    border: #E2E2E2 1px solid;
    border-bottom: 0;
    border-radius: 3px 3px 0 0;
}

.content-box-tabs li:hover {
    background: #ED8F29;
    border: #ED8F29 1px solid;
    border-bottom: 0;
    color: #FFFFFF;
}

.current {
    background: #ED8F29;
    /*border: #ed8f29 1px solid;*/
    /*border-bottom: 0;*/
    color: #FFFFFF;
}

.current a {
    color: #FFFFFF;
}

.content-box-tabs li a:hover {
    color: #FFFFFF;
}

.content-box-tabs li a {
    font-size: 14px;
    color: #333333;
    /*2014/3/13注释，个人空间我的资源TAB宽度冲突*/
    /*width: 65px;*/
    padding: 2px 20px;
    text-align: center;
    height: 28px;
    line-height: 28px;
    display: block;
    overflow: hidden;
}

.search_button_bg {
    font-size: 14px;
    background: #F3932B;
    border: #D97911 1px solid;
    border-radius: 3px;
    color: #FFFFFF;
    padding: 2px 10px;
}

.search_button_bg:hover {
    background: #F7A145;
    border: #E08523 1px solid;
}

.rea_my_list th a {
    font-size: 14px;
    color: #333333;
    text-align: left;
}

.rea_my_list th {
    font-size: 14px;
    color: #333333;
    text-align: left;
}

.rea_my_list td a {
    font-size: 14px;
    color: #5C5C5C;
    text-align: left;
}

select {
    padding: 3px 3px 3px 6px;
}

.pb10 {
    width: 940px;
    height: 60px;
    display: block;
    overflow: hidden;
    padding-right: 40px;
}

.pb10 input {
    margin-top: 10px;
    float: right;
    display: block;
    overflow: hidden;
}

.qqbut {
    font-size: 14px;
    background: #F3932B;
    border: #D97911 1px solid;
    border-radius: 3px;
    color: #FFFFFF;
    padding: 2px 10px;
}

.qqbut:hover {
    background: #F7A145;
    border: #E79237 1px solid;
}

.mb10 {
    float: right;
    padding-right: 40px;
    margin-top: 20px;
}

.currentStep {
    padding: 3px 8px;
    background: #F3932B;
    border: #E8E8E8 1px solid;
    border-radius: 3px;
    color: #FFFFFF;
}

.step {
    padding: 3px 8px;
    background: #F3F3F3;
    border: #E8E8E8 1px solid;
    border-radius: 3px;
}

.mb10 a {
    color: #333333;

}

.mb10 a:hover {
    background: #FFFFFF;
    color: #E48116;
    border: #C9B29A 1px solid;
}

.res_input_size p {
    width: 175px;
    float: left;
    display: block;
    margin-left: 10px;
    font-size: 14px;
    overflow: hidden;
}

.res_input_size input {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.mr5 {
    float: left;
    display: block;
    overflow: hidden;
}

.nextLink {
    border: #E1E1E1 1px solid;
    background: #F3F3F3;
    line-height: 29px;
    width: 34px;
    height: 29px;
    border-radius: 4px;
    margin-left: 6px;
    color: #333333;
    text-decoration: none;
    display: inline-block;
}

.my_recommend_content {
    width: 760px;
    height: 32px;
    margin: 10px 0;
}

.my_recommend_content span, .my_recommend_content label {
    height: 30px;
    float: left;
    line-height: 30px;
    font-size: 12px;
    color: #333;
    text-align: center;
    display: block;
    overflow: hidden;
}

.my_recommend_content span a {
    line-height: 20px;
    padding: 2px 10px;
    display: block;
    overflow: hidden;
}

.m_r_input {
    width: 120px;
    float: left;
    height: 18px;
    line-height: 18px;
}

.my_recommend_content label input {
    height: 25px;
    width: 115px;
}

.m_r_t_l {
    width: 40px;
}

.m_r_t_b {
    width: 60px;
}