.q76content1 td {
    font-size: 14px;
}

.user_base_infor {
    height: 30px;
    border-bottom: #E2E2E2 1px solid;
    margin: 10px 0;
    font-weight: bold;
}

.q76content2 tr {
    height: 40px;
}