body {
    background: url(../images/furley_bg.png);
}

.userspace_left {
    width: 240px;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

.userspace_right {
    width: 760px;
    min-height: 500px;
    float: left;
    margin: 20px 0 20px 20px;
}

.userspace_title {
    height: 30px;
    text-align: left;
}

.userspace_title a {
    font-size: 14px;
    line-height: 30px;
    border-left: #53A93F 5px solid;
    padding-left: 7px;
    text-align: left;
    color: #333;
}

.userspace_left .onk_space_fisttitle {
    clear: both;
    font-size: 16px;
    font: bolder 16px/16px '微软雅黑';
    background-color: #3B3F4A;
    height: 40px;
    width: 100%;
    line-height: 40px;
    color: #FFF;
}

.onk_space_title {
    clear: both;
    font-size: 14px;
}

#accordion h3 {
    margin: 0;
    padding: 8px;
}

.onk_ul {
    text-align: left;
    list-style: none;
    width: 100%;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.onk_ul li {
    list-style: none;
    text-align: left;
    margin-left: 0;
    font-size: 12px;
    line-height: 24px;
}

.onk_ul h3 {
    font-size: 14px;
}

.wrap5 {
    clear: both;
    width: 1024px;
    display: block;
    margin: 0 auto;
}

.boful_footer {
    overflow: hidden;
}

.m-cloudindex .box .u-findmore {
    margin: 0 24px 20px 0;
}

.u-findmore {
    float: left;
    position: relative;
    margin: 20px 0 0 24px;
}

.f-ib {
    display: inline-block;
}

.fst {
    position: relative;
    display: block;
    width: 200px;
    height: 200px;
    overflow: hidden;
    background-color: #FFF;
    color: #BBBEC7;
    transition: all 300ms linear 0;
}

.fst .btn {
    margin-top: 30px;
    width: 100%;
    color: #BBBEC7;
}

.fst .btn .findtxt {
    text-align: center;
    color: #BBBEC7;
    margin-top: 35px;
    font: bold 16px '微软雅黑';
}

.fst .btn .findtxt, .fst .btn .icon {
    transition: all 300ms linear 0;
}

.fst .btn .icon {
    text-align: center;
    font: bolder 80px/80px '微软雅黑';
    color: #BBBEC7;
}

.ui-accordion {
    background: none;
    border: none;
}

.ui-accordion-header {
    background-image: none;
    background-color: #4DB752;
    color: #FFF;
}

.ouknow_user_space_content {
    width: 1024px;
    min-height: 811px;
    display: block;
    margin: 0 auto;
    padding: 30px 0;
}

.ouknow_user_space_left {
    width: 230px;
    padding-bottom: 20px;
    background: #FFF;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
    float: left;
    height: auto;
}

.ouknow_user_space_right {
    width: 760px;
    margin-left: 10px;
    padding-bottom: 30px;
    float: right;
    display: block;
}

.ouknow_user_point {
    height: 160px;
    display: block;
    overflow: hidden;
    padding: 20px 50px;
}

.ouknow_user_point_other {
    width: 130px;
    height: 30px;
    line-height: 30px;
}

.ouknow_user_point_other p {
    font-size: 14px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    color: #53a93f;
}

.ouknow_user_point_other p a {
    color: #39A53E;
}

.ouknow_user_fuctions {
    width: 230px;
    height: auto;
    padding: 10px 0;
}

.ouknow_user_activity_item, .ouknow_user_write_item, .ouknow_user_resource_item, .ouknow_user_connmnity_item {
    width: 230px;
    height: auto;
    display: block;
    overflow: hidden;
}

.ouknow_user_write_item, .ouknow_user_resource_item {
    width: 230px;
    border-bottom: #F3F8F3 1px solid;
}

.ouknow_user_activity_item a, .ouknow_user_write_item a, .ouknow_user_resource_item a, .ouknow_user_connmnity_item a {
    height: 35px;
    width: 180px;
    color: #333;
    font-size: 14px;
    padding-left: 20px;
    line-height: 35px;
    display: block;
    overflow: hidden;
}

.ouknow_user_activity_mine {
    background: url(../images/ouknow_user_activity_mine1.png) left no-repeat;
}

.ouknow_user_activity_mine:hover {
    background: url(../images/ouknow_user_activity_mine2.png) left no-repeat;
    color: #4DB652;
}

.ouknow_user_resource_album {
    background: url(../images/ouknow_user_resource_album.png) left no-repeat;
}

.ouknow_user_resource_album:hover {
    background: url(../images/ouknow_user_resource_album1.png) left no-repeat;
    color: #4DB652;
}

.ouknow_user_write_course {
    background: url(../images/ouknow_user_write_course.png) left no-repeat;
}

.ouknow_user_write_course:hover {
    background: url(../images/ouknow_user_write_course1.png) left no-repeat;
    color: #4DB652;
}

.ouknow_user_write_note {
    background: url(../images/ouknow_user_write_note.png) left no-repeat;
}

.ouknow_user_write_note:hover {
    background: url(../images/ouknow_user_write_note1.png) left no-repeat;
    color: #4DB652;
}

.ouknow_user_resource_mine {
    background: url(../images/ouknow_user_resource_mine.png) left no-repeat;
}

.ouknow_user_resource_mine:hover {
    background: url(../images/ouknow_user_resource_mine1.png) left no-repeat;
    color: #4DB652;
}

.ouknow_user_resource_good {
    background: url(../images/ouknow_user_resource_good.png) left no-repeat;
}

.ouknow_user_resource_good:hover {
    background: url(../images/ouknow_user_resource_good1.png) left no-repeat;
    color: #4DB652;
}

.ouknow_user_resource_save {
    background: url(../images/ouknow_user_resource_save.png) left no-repeat;
}

.ouknow_user_resource_save:hover {
    background: url(../images/ouknow_user_resource_save1.png) left no-repeat;
    color: #4DB652;
}

.ouknow_user_connmnitise_item {
    background: url(../images/ouknow_user_connmnity_item.png) left no-repeat;
}

.ouknow_user_connmnitise_item:hover {
    background: url(../images/ouknow_user_connmnity_item1.png) left no-repeat;
    color: #4DB652;
}

.ouknow_user_connmnity_jion {
    background: url(../images/ouknow_user_connmnity_jion.png) left no-repeat;
}

.ouknow_user_connmnity_jion:hover {
    background: url(../images/ouknow_user_connmnity_jion1.png) left no-repeat;
    color: #4DB652;
}

.u_hover {
    width: 230px;
    height: 35px;
    display: block;
    overflow: hidden;
    padding: 0 30px;
}

.u_hover:hover {
    background: #ECF4EB;
}

.spa_mm {
    font-size: 12px;
    color: #FFF;
    text-align: center;
    float: right;
}

.page {
    line-height: 18px;
    text-align: right;
    float: left;
    display: block;
    overflow: hidden;
    padding: 30px 0 20px;
}

.page .currentstep {
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    background: #3C9F41;
    border: #3C9F41 1px solid;
    margin-left: 8px;
    display: inline-block;
    color: #FFF;
}

.page .num {
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    margin-left: 8px;
    background: #FFF;
    border: #D2D2D2 1px solid;
    display: inline-block;
    color: #333;
}

.page .num:hover {
    border: #3C9F41 1px solid;
}

.prevlink, .page .nextlink, #turnpagebtn {
    display: inline-block;
    width: 65px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    border: #D2D2D2 1px solid;
    margin-left: 8px;
    color: #333;
    background: #FFF;
    cursor: pointer;
}

.page input {
    width: 30px;
    height: 30px;
    text-align: center;
    border: 1px solid #E0DFDF;
}

.ouknow_user_point_img, .ouknow_user_point_img img {
    width: 130px;
    height: 130px;
}

.ouknow_user_activity_item, .ouknow_user_write_item {
    border-top: #F3F8F3 1px solid;
}

.ouknow_user_write_qusetion, .ouknow_user_write_answer {
    background: url(../images/ouknow_user_write_qusetion.png) left no-repeat;
}

.ouknow_user_write_qusetion:hover, .ouknow_user_write_answer:hover {
    background: url(../images/ouknow_user_write_qusetion1.png) left no-repeat;
    color: #4DB652;
}

.commubity_share_title {
    height: auto;
    width: 100%;
    background: #F0F6F3;
    padding: 30px 0 20px;
}

.wrap {
    width: 1024px;
    margin: 0 auto;
}

.commubity_share_title h1 {
    font-size: 18px;
    text-align: left;
    font-weight: 400;
    height: 25px;
    line-height: 25px;
    width: 500px;
    float: left;
}

.see_share_icon {
    background: url(../images/communityMain_seach_icon_see6.png) no-repeat;
    width: 34px;
    height: 25px;
    margin-right: 10px;
    float: left;
    display: block;
    overflow: hidden;
}

.commubity_share_plate {
    width: 100%;
    height: auto;
}

.commubity_share_plate_left {
    width: 1024px;
    min-height: 646px;
    margin: 0 auto;
    padding: 30px;
}

.commubity_share_plate_items {
    width: 1024px;
    height: auto;
}

.commubity_share_plate_items_nav {
    width: 1024px;
    height: 25px;
    padding: 10px 0;
}

.commubity_share_plate_items_nav table td {
    font-size: 14px;
    color: #999;
    text-align: center;
}

.share_names {
    width: 520px;
}

.share_names p {
    width: 520px;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.share_user {
    width: 200px;
    text-align: left;
}

.share_download {
    width: 100px;
}

.share_time {
    width: 140px;
}

.commubity_share_plate_item {
    border-bottom: 1px solid #F0F6F3;
    padding: 5px 0;
}

.commubity_share_plate_item:hover {
    background: #F0F6F3;
}

.commubity_share_plate_item td {
    color: #333;
    font-size: 12px;
    line-height: 25px;
}

.share_user_photo {
    width: 30px;
    height: 30px;
    margin-left: 30px;
    float: left;
}

.share_user_photo img {
    width: 30px;
    height: 30px;
}

.share_user_name {
    height: 30px;
    float: left;
    text-align: left;
    margin-left: 10px;
}

.share_class_icon {
    background: url(../images/course_sup_videos.png) center no-repeat;
}

.share_class_icon2 {
    background: url(../images/course_sup_word.png) center no-repeat;
}

.share_class_icon1 {
    background: url(../images/course_sup_image.png) center no-repeat;
}

.share_class_icon3 {
    background: url(../images/course_sup_voice.png) center no-repeat;
}

.share_class_icon4 {
    background: url(../images/course_sup_other.png) center no-repeat;
}

.share_class_iconss {
    background: url(../images/share_download_icon1.png) center no-repeat;
    width: 24px;
    float: left;
    height: 25px;
    display: block;
    overflow: hidden;
}

.download_number {
    width: 74px;
    float: left;
    text-align: left;
    line-height: 24px;
}

.share_class_iconss:hover {
    background: url(../images/share_download_icon2.png) center no-repeat;
}

.share_upload {
    height: 25px;
    line-height: 25px;
    float: right;
    margin: 15px 30px 15px 0;
}

.share_upload a {
    height: 30px;
    width: 100px;
    line-height: 30px;
    font-size: 14px;
    color: #FFF;
    text-align: center;
    background-color: #4DB652;
    border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#4db652', endColorstr='#348738');
    background-image: linear-gradient(top, #4DB652 0%, #34873810 0%);
    display: block;
    overflow: hidden;
    border-color: #348738;
}

.share_upload a:hover {
    background: #4DB652;
}

.commubity_share_nav {
    float: left;
    line-height: 55px;
}

.commubity_share_nav a, .commubity_share_nav span {
    float: left;
    margin-right: 5px;
}

.commubity_share_nav a {
    font-size: 14px;
    color: #4F5F69;
}

.commubity_share_nav a:hover, .commubity_share_nav span:hover {
    color: #39A53E;
    text-decoration: underline;
}

.commubity_share_nav span {
    font-size: 12px;
    color: #4F5F69;
}

.community_see_s_tit h1 {
    font-size: 18px;
    text-align: left;
    color: #333;
    height: 30px;
    font-weight: 400;
    line-height: 30px;
}

.ouknow_back_icon {
    background: url(../images/ouknow_back_icon.png) no-repeat;
    width: 12px;
    height: 12px;
    margin-top: 2px;
    margin-right: 3px;
    float: left;
}

.album_creat_icon {
    position: relative;
    top: 3px;
    background: url(../images/glyphicon-folder-close.png) center no-repeat;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    width: 13px;
    height: 13px;
    font-weight: 400;
    line-height: 1;
}

.album_creat_box {
    margin-left: 15px;
}

.my_album_items {
    width: 760px;
    height: auto;
    border: 1px solid #dedede;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    display: block;
    overflow: hidden;
}

.my_album_item {
    width: 760px;
    height: 105px;
    background: #FFF;
    border-bottom: 1px solid #e2e2e2;
    display: block;
    overflow: hidden;
    padding: 10px 15px;
}

.my_album_item_img {
    width: 64px;
    background: url(../images/my_album_item_img_bg.png) center no-repeat;
    height: 64px;
    float: left;
}

.my_album_item_img img {
    width: 54px;
    height: 54px;
    display: block;
    overflow: hidden;
    margin: 3px 0 0 3px;
}

.my_album_item_infor {
    width: 630px;
    float: left;
    margin: 0 20px 0 16px;
}

.my_album_item_infor h1 {
    font-size: 14px;
    font-family: '微软雅黑', serif;
    height: 25px;
    color: #333;
    line-height: 25px;
    margin: 0;
}

.my_album_item_infor h1 a:hover {
    color: #39a53e;
    text-decoration: underline;
}

.my_album_item_des {
    font-size: 12px;
    width: 630px;
    height: 35px;
    margin-bottom: 5px;
    color: #5c5c5c;
    overflow: hidden;
}

.my_album_item_time {
    font-size: 12px;
    color: #999;
    margin: 0;
}

.my_album_item_time span {
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    display: block;
    overflow: hidden;
}

.my_album_item_opreat {
    height: 16px;
    position: absolute;
    z-index: 2;
    width: 630px;
    float: right;
    display: block;
    overflow: hidden;
}

.my_album_item_opreat a {
    float: right;
    width: 16px;
    height: 16px;
    margin-left: 10px;
    display: block;
    overflow: hidden;
}

.item_opreat_delete {
    background: url(../images/my_album_item_opreat_icon.png) center no-repeat;
    background-position: 0 -67px;
}

.item_opreat_delete:hover {
    background: url(../images/my_album_item_opreat_icon.png) center no-repeat;
    background-position: 0 -84px;
}

.item_opreat_fix {
    background: url(../images/my_album_item_opreat_icon.png) center no-repeat;
    background-position: 0 -35px;
}

.item_opreat_fix:hover {
    background: url(../images/my_album_item_opreat_icon.png) center no-repeat;
    background-position: 0 -52px;
}

.item_opreat_word {
    background: url(../images/my_album_item_opreat_icon.png) center no-repeat;
    background-position: 0 0;
}

.item_opreat_word:hover {
    background: url(../images/my_album_item_opreat_icon.png) center no-repeat;
    background-position: 0 -17px;
}

.item_opreat_share {
    background: url("../images/item_opreat_share_icon1.png") center no-repeat;
}

.item_opreat_share:hover {
    background: url("../images/item_opreat_share_icon2.png") center no-repeat;
}

.item_opreat_sent {
    background: url("../images/sent-icon.png") center no-repeat;
}

.item_opreat_sent:hover {
    background: url("../images/sent-icon-hover.png") center no-repeat;
}

.ui-dialog {
    padding: 0;
}

.ui-corner-all {
    border-radius: 2px;
}

.ui-widget-header {
    border-top: 0;
    border-bottom: 1px solid #e0e0e0;
    border-left: 0;
    border-right: 0;
    background-color: #eee;
    background-image: linear-gradient(top, #f4f4f4 0%, #eeeeee10 0%);
}

/*.ui-widget-content {
    border:1px solid silver;
    -webkit-box-shadow:0 0 6px silver;
    -moz-box-shadow:0 0 6px silver;
    box-shadow:0 0 6px silver;
}*/

.dia_aibum_left {
    width: 220px;
    float: left;
    height: 399px;
    border-right: 1px solid #f4f4f4;
    display: block;
    overflow: auto;
}

.dia_aibum_right {
    width: 395px;
    height: 399px;
    float: left;
    display: block;
    overflow: auto;
}

#upload_list_dialog table tr td {
    font-size: 12px;
    font-family: '微软雅黑', serif;
}

.share_class_files_icon {
    background: url(../images/share_class_files_icon.png);
}

.content-box {
    padding: 0 20px;
}

.content-box-header {
    border-bottom: #DDD 1px solid;
    margin-top: 20px;
}

.content-box-tabs {
    display: block;
    overflow: hidden;
    margin: 0;
}

.content-box-tabs li {
    list-style: none;
    float: left;
    margin-right: 20px;
    height: 30px;
    line-height: 30px;
    background: #FFF;
    border: #E2E2E2 1px solid;
    border-bottom: 0;
    border-radius: 3px 3px 0 0;
}

.content-box-tabs li:hover {
    background: #ED8F29;
    border: #ED8F29 1px solid;
    border-bottom: 0;
    color: #FFF;
}

.current {
    background: #ED8F29;
    color: #FFF;
}

.content-box-tabs li a {
    font-size: 14px;
    color: #333;
    text-align: center;
    height: 28px;
    line-height: 28px;
    display: block;
    overflow: hidden;
    padding: 2px 20px;
}

.search_button_bg:hover {
    background: #F7A145;
    border: #E08523 1px solid;
}

.rea_my_list td a {
    font-size: 14px;
    color: #5C5C5C;
    text-align: left;
}

select {
    padding: 3px 3px 3px 6px;
}

.pb10 {
    width: 940px;
    height: 60px;
    display: block;
    overflow: hidden;
    padding-right: 40px;
}

.pb10 input {
    margin-top: 10px;
    float: right;
    display: block;
    overflow: hidden;
}

.qqbut:hover {
    background: #F7A145;
    border: #E79237 1px solid;
}

.mb10 {
    float: right;
    padding-right: 40px;
    margin-top: 20px;
}

.currentStep {
    height: 32px;
    width: 32px;
    line-height: 32px;
    font-size: 14px;
    text-align: center;
    background: #39a53e;
    border: #39a53e 1px solid;
    float: left;
    color: #FFF;
    margin-left: 10px;
    border-radius: 4px;
    display: block;
    overflow: hidden;
    padding: 3px 8px;
}

.step {
    background: #FFF;
    font-size: 14px;
    height: 34px;
    color: #333;
    margin-left: 10px;
    border: #D2D2D2 1px solid;
    text-align: center;
    border-radius: 4px;
    line-height: 32px;
    display: inline-block;
    width: 34px;
    padding: 0 8px;
}

.mb10 a:hover {
    background: #FFF;
    color: #E48116;
    border: #C9B29A 1px solid;
}

.res_input_size p {
    width: 175px;
    float: left;
    display: block;
    margin-left: 10px;
    font-size: 14px;
    overflow: hidden;
}

.res_input_size input {
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.mr5 {
    float: left;
    display: block;
    overflow: hidden;
}

.nextlink {
    border: #E1E1E1 1px solid;
    background: #F3F3F3;
    line-height: 29px;
    width: 34px;
    height: 29px;
    border-radius: 4px;
    margin-left: 6px;
    color: #333;
    text-decoration: none;
    display: inline-block;
}

.my_recommend_content {
    width: 760px;
    height: 32px;
    margin: 10px 0;
}

.my_recommend_content span, .my_recommend_content label {
    height: 30px;
    float: left;
    line-height: 30px;
    font-size: 12px;
    color: #333;
    text-align: center;
    display: block;
    overflow: hidden;
}

.my_recommend_content span a {
    line-height: 20px;
    display: block;
    overflow: hidden;
    padding: 2px 10px;
}

.m_r_input {
    width: 120px;
    float: left;
    height: 18px;
    line-height: 18px;
}

.my_recommend_content label input {
    height: 25px;
    width: 115px;
}

.m_r_t_l {
    width: 40px;
}

.share_class, .m_r_t_b {
    width: 60px;
}

.share_names p a, .my_album_item_infor h1 a, .mb10 a {
    color: #333;
}

.search_button_bg, .qqbut {
    font-size: 14px;
    background: #F3932B;
    border: #D97911 1px solid;
    border-radius: 3px;
    color: #FFF;
    padding: 2px 10px;
}

.rea_my_list th a, .rea_my_list th {
    font-size: 14px;
    color: #333;
    text-align: left;
}

.boful_activity_footer_page {
    width: 740px;
    height: 34px;
}

.boful_activity_footer_page p {
    width: 500px;
    height: 34px;
    float: right;
    text-align: center;
}

.boful_activity_footer_page input {
    margin-left: 10px;
}

#turnpage {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 32px;
    border: #E2E2E2 1px solid;
    margin: 0 0 0 10px;
    padding: 0;
}

#turnpagebtn {
    background: #FFF;
    font-size: 14px;
    height: 34px;
    color: #333;
    margin-left: 10px;
    border: #D2D2D2 1px solid;
    text-align: center;
    border-radius: 4px;
    line-height: 32px;
    padding: 0 8px;
}

#turnpagebtn:hover {
    border: #39a53e 1px solid;
    color: #39a53e;
}

.userspace_group {
    width: 670px;
    height: 210px;
    margin-bottom: 10px;
}

.userspace_group_list {
    width: 100%;
    background: #F9F9F9;
    padding-bottom: 10px;
    padding-left: 10px;
}

.userspace_group_item {
    width: 210px;
    height: 75px;
    float: left;
    background: #F8F8F8;
    margin: 10px 10px 0 0;
}

.userspace_group_item img {
    width: 95px;
    height: 75px;
    border: 0;
    float: left;
}

.group_item_content {
    width: 107px;
    margin-left: 4px;
    height: 75px;
    float: left;
}

.group_item_content span {
    width: 107px;
}

.group_item_content span a {
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    color: #53A93F;
}

.group_item_content p {
    width: 107px;
    height: 50px;
    color: #333;
    overflow: hidden;
}

.userspace_history {
    width: 670px;
    height: auto;
}

.userspace_history_list_video, .userspace_history_list_doc {
    width: 760px;
    height: auto;
    float: left;
}

.userspace_history_list_doc {
    margin-top: 15px;
}

.boful_video_item {
    width: 160px;
    height: 170px;
    float: left;
    margin: 18px 8px 10px 18px;
}

.boful_video_item a {
    font-size: 14px;
    text-align: left;
    color: #333;
    width: 160px;
    display: block;
    overflow: hidden;
}

.boful_video_item img {
    width: 160px;
    height: 100px;
    border: 0;
}

.boful_video_item p {
    width: 160px;
    line-height: 22px;
    border: 0;
    margin: 0;
    padding: 0;
}

.boful_doc_item {
    width: 160px;
    height: 170px;
    float: left;
    margin: 10px 10px 0 0;
}

.userspace_history_list_doc .boful_doc_item p a {
    font-size: 14px;
    color: #333;
    width: 160px;
    line-height: 30px;
    text-align: center;
    display: block;
    overflow: hidden;
}

.boful_doc_item img {
    width: 95px;
    height: 127px;
    border: #E2E2E2 1px solid;
    box-shadow: 1px 1px 3px #CFCFCF;
    display: block;
    margin: 0 auto;
}

.boful_doc_item p {
    width: 160px;
    height: 45px;
    border: 0;
    margin: 0;
    padding: 0;
}

.userspace_community_item {
    width: 300px;
    display: block;
    overflow: hidden;
    margin-bottom: 10px;
}

.userspace_community_item img {
    width: 120px;
    height: 90px;
    float: left;
}

.commitity_content {
    width: 180px;
    height: 90px;
    float: left;
    background: #F9F9F9;
}

.commitity_content .commitity_content_name {
    text-align: left;
    font-size: 16px;
    color: #53A93F;
    width: 180px;
    padding-left: 10px;
    display: block;
    overflow: hidden;
    margin: 5px 0;
}

.commitity_content p {
    width: 180px;
    padding-left: 10px;
    height: 30px;
    color: #A2A2A2;
}

.commitity_content_infor {
    font-size: 12px;
    color: #5C5C5C;
    width: 180px;
    height: 30px;
}

.commitity_content_infor .commitity_content_name1 {
    font-size: 12px;
    text-align: left;
    padding-left: 10px;
    display: block;
    color: #E96A0D;
    overflow: hidden;
    width: 180px;
}

.boful_recommond_video_item_date {
    background: url(../images/boful_recommond_video_item_date_bg.png);
    height: 20px;
    width: 160px;
    position: absolute;
    z-index: 2;
    line-height: 20px;
    text-align: right;
    padding-right: 15px;
    margin-top: 80px;
    color: #EFEFEF;
    font-size: 12px;
}

.boful_recommond_video_item_play a {
    width: 160px;
    height: 100px;
    display: block;
    overflow: hidden;
}

.boful_recommond_video_item_play a img {
    width: 32px;
    height: 32px;
    margin: 34px 0 0 64px;
}

.boful_recommond_doc_item_infor {
    background: url(../images/boful_recommond_video_item_date_bg.png);
    height: 20px;
    width: 87px;
    position: absolute;
    z-index: 1;
    line-height: 20px;
    text-align: right;
    padding-right: 10px;
    color: #EFEFEF;
    font-size: 12px;
    margin: 109px 0 0 32px;
}

.boful_recommond_doc_reading {
    background: url(../images/boful_recommond_video_item_date_bg.png);
    width: 97px;
    height: 129px;
    position: absolute;
    margin-left: 32px;
    visibility: hidden;
}

.boful_recommond_doc_reading a img {
    border: 0;
    float: left;
    text-align: center;
    box-shadow: none;
    height: 30px;
    width: 56px;
    margin: 36px 0 0 20px;
}

.boful_recommond_doc_reading a span {
    text-align: center;
    width: 56px;
    font-size: 14px;
    line-height: 20px;
    color: #FFF;
    height: 20px;
    display: block;
    overflow: hidden;
    margin: 0 auto;
}

.userspace_group_list_none {
    text-align: center;
    padding-top: 60px;
}

.userspace_group_list_none span {
    font-size: 14px;
    background: url(../images/userspace_group_list_none.png) left no-repeat;
    width: 200px;
    text-align: left;
    color: #5C5C5C;
    line-height: 32px;
    padding-left: 35px;
    height: 32px;
    display: block;
    overflow: hidden;
    margin: 0 auto;
}

.boful_recommond_video_item_play_p {
    background: url(../images/boful_recommond_video_item_play_bg.png);
    width: 160px;
    height: 100px;
    position: absolute;
    z-index: 3;
    visibility: hidden;
    box-shadow: none;
}

.boful_recommond_video_item_play_p a {
    width: 160px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #E35804;
    margin-top: 35px;
    display: block;
    overflow: hidden;
}

.boful_recommond_video_item_play_p a:hover {
    color: #E35804;
}

.boful_recommond_video_item_see {
    position: absolute;
    z-index: 1;
    width: 160px;
    height: 20px;
    margin-top: 80px;
    text-align: left;
    display: block;
    overflow: hidden;
}

.boful_recommond_video_item_see p {
    height: 20px;
    width: 160px;
    float: left;
    background: #FE7800;
    text-align: left;
    display: block;
    margin: 0;
    padding: 0;
}

.boful_recommond_video_item_see_icon {
    background: url(../images/boful_recommond_video_item_see_icon.png) left no-repeat;
    width: 140px;
    height: 20px;
    color: #7D7D7D;
    line-height: 20px;
    text-align: left;
    float: left;
    padding-left: 20px;
    display: block;
    overflow: hidden;
}

.course_right_nav {
    list-style: none;
    width: 100%;
}

.course_right_nav ul {
    list-style: none;
}

.course_right_nav ul li {
    float: left;
    width: 100%;
    display: block;
    border-bottom: 1px #DDD solid;
    padding: 8px;
}

.course_right_nav ul li a {
    color: #22272E;
    font-size: 14px;
    text-decoration: none;
    padding: 5px;
}

.container {
    width: 100%;
    clear: both;
    margin-top: 1px;
    _margin-top: -1px;
}

.sub-con {
    min-height: 600px;
    width: 100%;
    display: none;
}

.cur-sub-con {
    display: block;
}

.tabs_nav {
    width: 100%;
    border-bottom: 2px solid #53A93F;
    display: block;
    overflow: hidden;
    margin-bottom: 10px;
}

.tabs_nav ul {
    width: 100%;
    margin: 0;
}

.tabs_nav ul li {
    list-style: none;
    display: inline-block;
    width: 110px;
    float: left;
    margin-left: 5px;
    text-align: center;
    margin-bottom: 5px;
}

.tabs_nav ul li a {
    text-decoration: none;
    color: #22272E;
    display: block;
    font-size: 14px;
    font-weight: 700;
}

.tabs_nav ul li a.cur {
    z-index: 9999;
    color: #53A93F;
}

.course_p a {
    line-height: 22px;
    width: 160px;
    text-align: center;
    margin-bottom: 2px;
}

.course_video_item {
    height: 280px;
    width: 240px;
    background: none repeat scroll 0 0 #FFF;
    border: 1px solid #FFF;
    box-shadow: 1px 1px 3px #CFCFCF;
    float: left;
    margin: 10px 4px 0 5px;
}

.course_video_item_head_see {
    background: url(../images/boful_recommond_video_item_play_bg.png) repeat scroll 0 0 transparent;
    width: 240px;
    height: 130px;
    position: absolute;
    z-index: 2;
    visibility: hidden;
}

.course_video_item_head_see p {
    width: 225px;
    height: 30px;
    text-align: center;
    margin: 55px 0 0;
}

.course_video_item_head_see p a {
    font-size: 14px;
    color: #FFF;
    text-align: center;
    height: 30px;
    width: 65px;
    line-height: 30px;
    background: none repeat scroll 0 0 #53A93F;
    border-radius: 4px;
    display: block;
    overflow: hidden;
    margin: 0 auto;
    padding: 0 10px;
}

.course_video_item_user {
    width: 240px;
    height: 30px;
    position: absolute;
    z-index: 3;
    margin-top: 130px;
}

.course_video_item_user_img {
    width: 59px;
    height: 59px;
    margin-left: 10px;
    background: none repeat scroll 0 0 #FFF;
    border-radius: 50%;
    border: 1px solid #EBEBEB;
    float: left;
    box-shadow: 0 1px 0 #B8B7B7;
    padding: 1px;
}

.course_video_item_user_img img {
    width: 59px;
    height: 59px;
    border-radius: 50%;
}

.course_video_item_user_name {
    height: 25px;
    width: 120px;
    padding-left: 15px;
    line-height: 25px;
    font-size: 14px;
    text-align: left;
    color: #333;
    float: left;
}

.course_video_item_content {
    width: 240px;
    margin-top: 68px;
    height: auto;
}

.course_video_item_head_title {
    padding: 0 10px;
}

.course_video_item_head_title h2 {
    height: 25px;
    width: 230px;
    line-height: 25px;
    margin: 0;
}

.course_video_item_head_title h2 a {
    font-size: 16px;
    width: 210px;
    height: 25px;
    color: #333;
    font-weight: 400;
    text-align: left;
    display: block;
    overflow: hidden;
}

.course_video_item_head_title_infor {
    height: 15px;
    line-height: 15px;
    font-size: 12px;
    color: #999;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 5px 0;
}

.course_video_item_content p {
    width: 232px;
    height: 20px;
    border-bottom: 1px solid #E4EBEE;
    padding: 0 0 0 8px;
}

.course_video_item_content_stars {
    width: 100px;
    height: 20px;
    float: left;
}

.course_video_item_content_stars a {
    background: url(../images/course_video_item_content_stars_1.png) no-repeat scroll 0 0 transparent;
    width: 16px;
    margin-top: 2px;
    height: 16px;
    float: left;
    margin-left: 1px;
}

.course_video_item_content_talk {
    font-size: 12px;
    color: #7D7D7D;
    line-height: 20px;
    float: left;
}

.course_video_item_content_study {
    height: 30px;
    margin-top: 22px;
    padding-left: 5px;
    line-height: 50px;
    font-size: 12px;
    text-align: left;
    color: #7D7D7D;
    float: right;
    display: block;
    overflow: hidden;
}

.course_video_item_content_study a {
    font-size: 12px;
    float: right;
    margin-right: 10px;
}

.course_video_item_mgr {
    width: 236px;
    background: none repeat scroll 0 0 #ECF2F4;
    padding: 0 10px;
}

.course_video_item_content_users {
    height: 30px;
    width: 200px;
    background: url(../images/course_video_item_content_users.png) no-repeat scroll left center transparent;
    padding-left: 20px;
    display: block;
    overflow: hidden;
    color: #7D7D7D;
    font-size: 12px;
    line-height: 30px;
    text-align: left;
}

.course_video_item_content_users .users {
    float: left;
}

.users1 {
    width: 60px;
    float: left;
}

.course_video_item_content_number {
    font-size: 12px;
    color: #7D7D7D;
    float: right;
}

.ouknow_forum_right_item {
    width: 355px;
    height: 100px;
    margin-left: 20px;
    float: left;
    margin-top: 20px;
}

.ouknow_forum_icon {
    width: 100px;
    height: 100px;
    float: left;
}

.ouknow_forum_icon img {
    width: 100px;
    height: 100px;
}

.ouknow_forum_plate_cont {
    width: 220px;
    height: 100px;
    margin-left: 10px;
    float: left;
}

.ouknow_forum_plate_cont h2 {
    font-size: 16px;
    text-align: left;
    background: url(../images/ouknow_forum_plate_cont_h.png) no-repeat scroll left center transparent;
    line-height: 20px;
    padding-left: 20px;
    height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0 0 5px;
}

.ouknow_forum_plate_cont_tt a {
    color: #333;
    font-weight: 400;
}

.ouknow_forum_plate_cont_des {
    width: 220px;
    height: 50px;
    font-size: 12px;
    line-height: 18px;
    text-align: left;
    overflow: hidden;
}

.ouknow_forum_plate_bot {
    margin-top: 5px;
    height: 20px;
    width: 220px;
}

.ouknow_forum_plate_post, .ouknow_forum_plate_post_back {
    color: #5C5C5C;
    height: 20px;
    width: 65px;
    font-size: 12px;
    line-height: 20px;
    text-align: left;
    float: left;
    margin-right: 5px;
    overflow: hidden;
}

.ouknow_forum_plate_post span, .ouknow_forum_plate_post_back span {
    font-size: 12px;
    text-align: left;
    width: 30px;
}

p, .user_name {
    font-size: 12px;
    color: #333;
}

.ouknow_forum_plate_post_back {
    margin: 0;
}

.userspace_left .onk_space_fisttitle a, .current a, .content-box-tabs li a:hover, .course_right_nav ul li .courcrr {
    color: #FFF;
}

.boful_video_item a:hover, .boful_doc_item a:hover, .commitity_content_name a {
    color: #53A93F;
}

.course_right_nav ul li a:hover, .courcrr {
    width: 100%;
    display: block;
    background-color: #53A93F;
    text-align: center;
    color: #FFF;
    padding: 5px;
}

.course_video_item img, .course_video_item_head {
    width: 240px;
    height: 130px;
    display: block;
    overflow: hidden;
}

/*mynotesprogramlist_news样式*/

.f-cb:after, .f-cbli li:after {
    display: block;
    clear: both;
    visibility: hidden;
    height: 0px;
    overflow: hidden;
    content: ".";
}

.f-cb, .f-cbli li {
}

.w-cardnoteitem .info .time {
    margin-top: 12px;
    font-size: 12px;
    line-height: 12px;
    color: #999999;
}

.w-cardnoteitem {
    cursor: pointer;
}

.m-cloudAsk .askInfo a {
    font-size: 14px;
    line-height: 22px;
    font-weight: bold;
    color: #444444;
}

.m-cloudAsk .poolitem p {
    word-wrap: break-word;
    word-break: break-all;
}

.m-cloudAsk .moreinfo {
    line-height: 1.2;
    color: #999999;
    font-size: 12px;
}

.m-cloudAsk .replyCon .vote {
    background: none repeat scroll 0% 0% #F4F4F4;
    width: 35px;
    height: 43px;
    margin-right: 10px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #999999;
}

.m-cloudAsk .replyCon .con {
    font-size: 13px;
    color: #444444;
    line-height: 21px;
    width: 600px;
}

.f-fl {
    float: left;
}

.f-fr {
    float: right;
}

.m-cloudAsk .pool {
    margin-bottom: 16px;
    background: none repeat scroll 0% 0% #FFFFFF;
    /* padding: 0px 20px 15px;*/
}

.f-bg {
    border-top: medium none;
}

.bg {
    box-shadow: 0px 1px 2px #BBBBBB;
}

.m-cloudAsk .poolitem {
    padding: 20px 0px 15px;
    border-bottom: 1px dotted #DBDBDB;
}

/*社区右侧树形导航accordion样式  2014-6-26合并*/

.ui-accordion {
    background: #FFFFFF;
}

.ui-accordion-header {
    background-color: #FFFFFF;
    border-color: #E8E9E8;
    /*filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#4db652', endColorstr='#348738');*/
    /* background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4DB652), color-stop(100%, #348738));
     background-image: -webkit-linear-gradient(top, #4DB652 0%, #348738 100%);
     background-image: -moz-linear-gradient(top, #4DB652 0%, #348738 100%);
     background-image: -o-linear-gradient(top, #4DB652 0%, #348738 100%);
     background-image: linear-gradient(top, #4DB652 0%, #348738 100%);*/
}

.ui-accordion-header:hover {
    /*background-image: -webkit-linear-gradient(top, #58C95E 0%, #40A245 100%);*/
    background: #EBF1EC;
    color: #FFFFFF;
    border-bottom: 1px solid #ebf1ec;
}

.ui-accordion-icons {

}

.ui-accordion-content {
    background: #FFFFFF;
}

.userspace_left a {
    height: 35px;
    line-height: 35px;
    width: 200px;
    display: block;
    overflow: hidden;

}

.userspace_left a:hover {
    color: #333;
}

.userspace_left {
    margin-right: 10px;
    -webkit-box-shadow: 1px 1px 0 #dddddd;
    -moz-box-shadow: 1px 1px 0 dddddd;
    box-shadow: 1px 1px 0 #dddddd;
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr, .ui-corner-bottom {
    border-radius: 0;
}

.ui-widget-content {
    border: 0;
}

.ui-accordion .ui-accordion-content {
    padding: 0;
    background: #EDF4ED;
}

.ui-accordion .ui-accordion-content p {
    padding-left: 40px;
    border-bottom: 1px solid #D7E7D7;
    border-top: 0;
    margin: 0;
    border-left: 0;
    border-right: 0;
}

.ui-accordion .ui-accordion-content p:hover {
    background: #E6F0E6;
    border-top: 0;
}

.ui-accordion .ui-accordion-content p a {
    height: 35px;
    font-size: 14px;
    font-family: "microsoft yahei", serif;
    line-height: 35px;
    color: #4DB652;
}

/*.ui-state-default .ui-icon {
    background: none;
}*/

#accordion h3 {
    padding: 15px 8px 15px 30px;
    color: #333333;
    line-height: 16px;
    border: 0;
    border-bottom: 1px solid #E8E9E8;
}

.userspace_left_mgr {
    background: #4DB652;
    display: block;
    overflow: hidden;
}

.userspace_left_mgr h1 {
    width: 160px;
    background: url("../images/userspace_left_mgr_icon.png") left no-repeat;
    margin: 10px 20px;
    font-size: 20px;
    height: 62px;
    padding-left: 60px;
    line-height: 62px;
    font-weight: normal;
    color: #FFFFFF;
}

.accordion_form, .accordion_masage, .accordion_voc, .accordion_mem, .accordion_share, .accordion_act {
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 8px;
    background: url("../images/accordion_culm_icon.png") center no-repeat;
    display: block;
    overflow: hidden;
}

.accordion_form {
    background-position: 0 0;
}

.accordion_masage {
    background-position: 0 -17px;
}

.accordion_voc {
    background-position: 0 -34px;
}

.accordion_mem {
    background-position: 0 -51px;
}

.accordion_share {
    background-position: 0 -68px;
}

.accordion_act {
    background-position: 0 -85px;
}

/*------------------*/
.forms_manager_point {
    width: 40px;
    height: 40px;
    display: block;
    overflow: hidden;
}

.forms_manager_point img {
    width: 40px;
    height: 40px;
    border: 0;
}