@charset "utf-8";
/* CSS Document */
.course_bigtitle {
    font-family: "微软雅黑";
    color: #333333;
    font-size: 16px;
}

.course_smailtitle {
    font-size: 12px;
    color: #6E6E6E;

}

.thumbnail_cat {

}

.thumbnail_cat img {
    padding: 2px;
    border: 1px #DDDDDD solid;
    width: 180px;
    height: 180px;
}
