
* {
    padding: 0;
    margin: 0
}

ol, ul, li {
    list-style: none
}

img {
    border: none
}

.modeA {
    padding: 9px 0 10px 0px;
    margin-bottom: 15px;
    border-top: 1px solid #383838;
    background: #2f2f2f;
    zoom: 1;
    margin-left: -6px;
}

.list {
    height: 342px;
    border: 5px solid #fff;
}

.slide_screen {
    width: 970px;
    margin: 0 auto;
    overflow: hidden;
    zoom: 1;
}

.slide_screen li {
    float: left;
    overflow: hidden;
    position: relative;
    margin-right: 4px
}

.slide_screen li.liA {
    width: 960px;
    height: 342px
}

.slide_screen li.liA .window {
    width: 1166px
}

.slide_screen li img {
    display: block
}

.slide_screen li .piece {
    float: left;
    position: relative;
    overflow: hidden;
    zoom: 1
}

.slide_screen li.liA, .slide_screen li.liA .piece, .slide_screen li.liA img {
    width: 970px;
    height: 342px
}

.slide_screen li .bar {
    width: 234px;
    padding: 0 36px 0 10px;
    height: 342px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 10px;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#88000000', endColorstr='#88000000');
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    font-weight: bold;
    font-size: 12px
}

.slide_screen li .bar h3 {
    padding-top: 4px;
    font-size: 16px;
    padding: 20px;
    line-height: 22px;
}

.slide_screen li .bar p {
    font-weight: normal;
    line-height: 32px;
    font-size: 12px;
    padding: 0px;
    margin-left: 20px;
}

.slide_screen li .bar span {
    display: block;
    width: 28px;
    height: 28px;
    overflow: hidden;
    position: absolute;
    top: 300px;
    right: 4px;
}

.slide_screen li .bar a {
    display: block;
    width: 270px;
    height: 300px;
    position: absolute;
    top: 300;
    left: 0;
    z-index: 10;
    font-size: 0;
}

.libtn {
    width: 240px;
    text-align: center;
    margin: 10px auto 0
}

.libtn li {
    width: 45px;
    height: 11px;
    border: 1px solid #989898;
    margin: 0 4px;
    float: none;
    display: inline-block;
    *display: inline;
    zoom: 1;
    overflow: hidden;
    cursor: pointer
}

.libtn li.selected {
    background: #fff
}

.index_img span {
    width: 160px;
    height: 120px;
    display: block;
}