.paginateButtons {
    text-align: center;
    padding: 10px 3px;
}

.paginateButtons span {
    color: #f60;
    padding-right: 5px;
}

.step {
    border: #e1e1e1 1px solid;
    background: #f3f3f3;
    line-height: 23px;
    height: 23px;
    margin-left: 6px;
    color: #333333;
    text-decoration: none;
    display: inline-block;
}

/*.prevLink, .nextLink {
    border: #e1e1e1 1px solid;
    background: #f3f3f3;
    display: inline-block;
    line-height: 23px;
    height: 23px;
    margin-left: 6px;
    color: #2f8dd5;
    text-decoration: none;
}

.prevlink:hover, .nextlink:hover {
    text-decoration: none
}*/

#turnPage {
    background-color: #fcfcfc;
    border: #e1e1e1 1px solid;
    margin: 0 6px 0 6px;
    padding: 1px 5px 0 5px;
    height: 23px;
    line-height: 23px;
    width: 40px
}

#turnPageBtn {
    border: #e1e1e1 1px solid;
    background: #f3f3f3;
    line-height: 20px;
    height: 24px;
    padding: 1px 5px 0 6px;
    margin-left: 6px;
    color: #333333;
    text-decoration: none;
    cursor: pointer
}

.currentStep {
    border: #f3932b 1px solid;
    background: #f3932b;
    line-height: 23px;
    height: 23px;
    margin-left: 6px;
    text-decoration: none;
    display: inline-block;
    color: #FFF;
    font-weight: bold
}