.main-content {
    margin: 0;
    padding: 0;
}

.content-box-content {
    width: 1024px;
}

.content-box-content table {
    width: 100%;
}

.content-box-content td, .content-box-content th {
    font-size: 14px;
    text-align: left;
    font-weight: normal;
    padding: 10px 5px;
    vertical-align: top;
    border-bottom: 1px solid #F4F4F4;
}

.content-box-content th {
    width: 80px;
    padding-left: 30px;
}

.content-box-content_fix,
.content-box-content_fixup {
    background: url("../images/chose_class_bg.png") repeat-x;
    border: #ABADB3 1px solid;
    border-radius: 4px;
    line-height: 32px;
    color: #5F5F5F;
    width: 100px;
    margin-right: 10px;
    text-align: center;
    font-size: 14px;
    height: 32px;
    float: left;
    line-height: 32px;
}

.content-box-content_fix:hover,
.content-box-content_fixup:hover {
    background: url("../images/chose_class_bg1.png") repeat-x;
    border: #F3A45C 1px solid;
    color: #E57D0D;
}

.content-box-content_fixup {
    height: 32px;
    float: none;
    margin-left: 30px;
}

.content-box-content_fixup_submit,
.content-box-content_fixup_submit1 {
    background: url("../images/resources_upload_continue-bg.png") repeat-x;
    height: 32px;
    margin: 20px 10px 0 0;
    width: 100px;
    border: #319B98 1px solid;
    color: #FFFFFF;
    float: right;
    border-radius: 4px;
    cursor: pointer;
}

.boful_program_tag {
    font-size: 14px;
    margin-right: 15px;
    border-radius: 12px;
    color: #FFFFFF;
    padding: 2px 8px;
    background: #319B98;
}

.boful_ui_processbar {
    width: 500px;
    height: 25px;
    background: #E2EEEE;
    padding: 2px;
}

.boful_ui_processbar_label {
    width: 200px;
    height: 25px;
    background: #319B98;
}

.boful_ui_processbar_text {
    font-size: 14px;
    color: #5C5C5C;
}

.boful_ui_processbar_text span {
    font-size: 12px;
    color: #EF7B1D;
}

.boful_program_tag_name_edite, .boful_program_tag_name_delete {
    width: 30px;
    font-size: 12px;
    background: url("../images/chose_class_bg.png") repeat-x;
    border: #ABADB3 1px solid;
    padding: 3px 6px;
    border-radius: 4px;
    height: 20px;
    color: #5C5C5C;
}

.boful_program_tag_name_edite:hover, .boful_program_tag_name_delete:hover {
    background: url("../images/chose_class_bg1.png") repeat-x;
    border: #F3A45C 1px solid;
    color: #E57D0D;
}

.upload_succes_word {
    width: 760px;
    height: 100px;
}

.upload_succes {
    background: url("../images/upload_Succs_icons.png") left no-repeat;
    height: 100px;
    line-height: 100px;
    width: 300px;
    margin: 0 auto;
    padding-left: 50px;
    font-size: 16px;
    color: #37B12C;
    display: block;
}

.but-contuniu {
    padding: 4px 10px;
    height: 35px;
    background: #FFF;
    display: block;
    overflow: hidden;
}

.but-contuniu input {
    float: left;
}