
.search {
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    COLOR: #666666;
    LINE-HEIGHT: 20px
}

.button_input {
    BORDER-RIGHT: #666666 1px solid;
    BACKGROUND-POSITION: center center;
    BORDER-TOP: #666666 1px solid;
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    BORDER-LEFT: #666666 1px solid;
    CURSOR: hand;
    COLOR: #000000;
    BORDER-BOTTOM: #666666 1px solid
}

.title1 {
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    COLOR: #666666;
    FONT-FAMILY: "����"
}

.zwzx {
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    COLOR: #666666;
    LINE-HEIGHT: 20px;
    FONT-FAMILY: "����"
}

.zwzx A:link {
    COLOR: #666666;
    TEXT-DECORATION: none
}

.zwzx A:visited {
    COLOR: #666666;
    TEXT-DECORATION: none
}

.zwzx A:hover {
    COLOR: #222222;
    TEXT-DECORATION: none
}

.zwzx A:active {
    COLOR: #666666;
    TEXT-DECORATION: none
}

.wsdc {
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    COLOR: #666666;
    LINE-HEIGHT: 22px;
    FONT-FAMILY: "����"
}

.wsdc A:link {
    COLOR: #666666;
    TEXT-DECORATION: none
}

.wsdc A:visited {
    COLOR: #666666;
    TEXT-DECORATION: none
}

.wsdc A:hover {
    COLOR: #222222;
    TEXT-DECORATION: underline
}

.wsdc A:active {
    COLOR: #666666;
    TEXT-DECORATION: none
}

.wssb {
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    COLOR: #666666;
    LINE-HEIGHT: 22px;
    FONT-FAMILY: "����"
}

.wssb A:link {
    COLOR: #222222;
    TEXT-DECORATION: underline
}

.wssb A:visited {
    COLOR: #222222;
    TEXT-DECORATION: underline
}

.wssb A:hover {
    COLOR: #990000;
    TEXT-DECORATION: none
}

.wssb A:active {
    COLOR: #222222;
    TEXT-DECORATION: underline
}

.xwfy {
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    COLOR: #666666;
    LINE-HEIGHT: 22px;
    FONT-FAMILY: "����"
}

.xwfy A:link {
    COLOR: #666666;
    TEXT-DECORATION: none
}

.xwfy A:visited {
    COLOR: #666666;
    TEXT-DECORATION: none
}

.xwfy A:hover {
    COLOR: #990000;
    TEXT-DECORATION: underline
}

.xwfy A:active {
    COLOR: #666666;
    TEXT-DECORATION: none
}

.zscx {
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    COLOR: #555555;
    LINE-HEIGHT: 16px
}

.zscx A:link {
    COLOR: #555555;
    TEXT-DECORATION: none
}

.zscx A:visited {
    COLOR: #555555;
    TEXT-DECORATION: none
}

.zscx A:hover {
    COLOR: #555555;
    TEXT-DECORATION: none
}

.zscx A:active {
    COLOR: #555555;
    TEXT-DECORATION: none
}

.hengfu {
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    COLOR: #FFFFFF;
    LINE-HEIGHT: 24px;
    FONT-FAMILY: "����"
}

.copyright {
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    COLOR: #000000;
    LINE-HEIGHT: 20px
}

.copyright A:link {
    COLOR: #000000;
    TEXT-DECORATION: none
}

.copyright A:visited {
    COLOR: #000000;
    TEXT-DECORATION: none
}

.copyright A:hover {
    COLOR: #555555;
    TEXT-DECORATION: underline
}

.copyrights A:active {
    COLOR: #000000;
    TEXT-DECORATION: none
}

.zy_caidan {
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    COLOR: #555555;
    LINE-HEIGHT: 16px
}

.zy_caidan A:link {
    COLOR: #555555;
    TEXT-DECORATION: none
}

.zy_caidan A:visited {
    COLOR: #555555;
    TEXT-DECORATION: none
}

.zy_caidan A:hover {
    COLOR: #999999;
    TEXT-DECORATION: underline
}

.zy_caidan A:active {
    COLOR: #555555;
    TEXT-DECORATION: none
}

.xwfb {
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    COLOR: #666666
}

.xwfb A:link {
    COLOR: #666666;
    TEXT-DECORATION: none
}

.xwfb A:visited {
    COLOR: #666666;
    TEXT-DECORATION: none
}

.xwfb A:hover {
    COLOR: #222222;
    TEXT-DECORATION: none
}

.xwfb A:active {
    COLOR: #666666;
    TEXT-DECORATION: none
}

.table_tr {
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    COLOR: #666666;
    LINE-HEIGHT: 20px;
    BACKGROUND-COLOR: #FFFFFF
}

.xinwenfb {
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    BORDER-LEFT: 0px;
    COLOR: #666666;
    LINE-HEIGHT: 20px;
    BORDER-BOTTOM: #CCCCCC 1px dotted
}

.xinwenfb A:link {
    COLOR: #666666;
    TEXT-DECORATION: none
}

.xinwenfb A:visited {
    COLOR: #666666;
    TEXT-DECORATION: none
}

.xinwenfb A:hover {
    COLOR: #222222;
    TEXT-DECORATION: none
}

.xinwenfb A:active {
    COLOR: #666666;
    TEXT-DECORATION: none
}

.xinwenfb2 {
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    COLOR: #666666;
    LINE-HEIGHT: 20px
}

.xinwenfb2 A:link {
    COLOR: #666666;
    TEXT-DECORATION: none
}

.xinwenfb2 A:visited {
    COLOR: #666666;
    TEXT-DECORATION: none
}

.xinwenfb2 A:hover {
    COLOR: #222222;
    TEXT-DECORATION: none
}

.xinwenfb2 A:active {
    COLOR: #666666;
    TEXT-DECORATION: none
}

.colorlifb1 {
    COLOR: #FF0000
}

.tborderlb {
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    BORDER-LEFT: #EEEEEE 1px solid;
    BORDER-BOTTOM: #EEEEEE 1px solid
}

.tbottomline {
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    BORDER-LEFT: 0px;
    BORDER-BOTTOM: #EEEEEE 1px solid
}

.tbottomline2 {
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    BORDER-LEFT: 0px;
    BORDER-BOTTOM: #CCCCCC 1px solid
}

.xinxilan {
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    COLOR: #000000
}

.xinxilan A:link {
    COLOR: #000000;
    TEXT-DECORATION: none
}

.xinxilan A:visited {
    COLOR: #000000;
    TEXT-DECORATION: none
}

.xinxilan A:hover {
    COLOR: #990000;
    TEXT-DECORATION: none
}

.xinxilan A:active {
    COLOR: #990000;
    TEXT-DECORATION: none
}

.xinxilan2 {
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    CURSOR: hand;
    COLOR: #666666
}

.xinxilan2 A:link {
    COLOR: #CC3300;
    TEXT-DECORATION: none
}

.xinxilan2 A:visited {
    COLOR: #CC3300;
    TEXT-DECORATION: none
}

.xinxilan2 A:hover {
    COLOR: #CC3300;
    TEXT-DECORATION: underline
}

.xinxilan2 A:active {
    COLOR: #CC3300;
    TEXT-DECORATION: none
}

.title {
    FONT-WEIGHT: bold;
    FONT-SIZE: 16px;
    COLOR: #333333;
    FONT-FAMILY: "����"
}

.link {
    FONT-WEIGHT: normal;
    FONT-SIZE: 14px;
    COLOR: #990000;
    FONT-FAMILY: "����"
}

.td1 {
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    LINE-HEIGHT: 20px
}
